
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<link href="select2.css" rel="stylesheet" />
<script src="select2.js"></script>

<script type="text/javascript">

    function checkMsg() {

        var msg = '@ViewBag.ErrorMessage';

        if(!msg && typeof msg != "undefined" && msg != 0)
        {
        }
        else
        {

        }
    }

    function doQuery() {

        $.get("http://220.130.10.50:6868/api/webapi/getProductCount?departmentID=" + $('#department_id').val() + "&customizeID=" + $('#customize_id').val() + "&productName=" + $('#product_name').val() + "&productTypeName=" + $('#product_type_name').val(), function (data) {
            console.log(data);
            if (data > 1000) {
                $('#msg').html('資料筆數:' + data + '筆,請縮小查詢範圍');
                return;
            }
            else if(data==0)
            {
                $('#msg').html('資料筆數:' + data + '筆,請重新輸入條件');
                return;
            }
            else {
                $('#tb_product').css("visibility", "visible");
                $('#msg').html('');
                console.log("api:"+"http://220.130.10.50:6868/api/webapi/getProduct?departmentID=" + $('#department_id').val() + "&customizeID=" + $('#customize_id').val() + "&productName=" + $('#product_name').val() + "&productTypeName=" + $('#product_type_name').val());
                $('#tb_product').DataTable(
                {
                    "ajax": {
                        "url": "http://220.130.10.50:6868/api/webapi/getProduct?departmentID=" + $('#department_id').val() + "&customizeID=" + $('#customize_id').val() + "&productName=" + $('#product_name').val() + "&productTypeName=" + $('#product_type_name').val(),
                        "dataSrc": "listOfProduct"
                    },
                    "columnDefs": [
                        {
                            "width":120,
                            "targets": 0,
                            "data": null,
                            "orderable": false,
                            "searchable": false,
                            "render": function (data, type, full, meta) {
                                return '<button type="button" class="btn btn-info btn-md" data-toggle="modal" id=' + data.ProductCustomizeID +       
                                    ' data-product_customize_id=' + data.ProductCustomizeID +                                    
                                    ' data-product_name=' + data.ProductName +                                    
                                    ' data-product_unit_name=' + data.ProductUnitName +
                                    ' data-target="#editModal">修改</button> | ' +
                                    '<button type="button" class="btn btn-danger btn-md" data-toggle="modal" id=' + data.ProductCustomizeID +
                                    ' data-product_customize_id=' + data.ProductCustomizeID +
                                    ' data-product_name=' + data.ProductName +                                    
                                    ' data-product_unit_name=' + data.ProductUnitName +
                                    ' data-target="#deleteModal">刪除</button>';
                            }
                        },
                        {
                            "width":160,
                            "targets": 1,
                            "data": null,
                            "orderable": false,
                            "searchable": false,
                            "render": function (data, type, full, meta) {
                                return '<button type="button" class="btn btn-md btn-default" data-toggle="modal" id=' + data.ProductCustomizeID +
                                    ' data-img_url=' + '/Image/fruit.jpg' +
                                    ' data-target="#imgModal">' +
                                    '<img width="100%" src="/Image/fruit_s.jpg" />' +
                                    '</button>'
                                    ;
                            }
                        },
                        {
                            "targets": 2,
                            "data": "ProductTypeName"
                        },
                        {
                            "targets": 3,
                            "data": "ProductCustomizeID"
                        },
                        {
                            "targets": 4,
                            "data": "ProductName"
                        },
                        {
                            "targets": 5,
                            "data": "ProductUnitName"
                        },
                    ],
                    "aaSorting": [[3, 'asc']],
                    "language": {
                        "url": "/Scripts/Chinese-traditional.js"
                    },
                    "bDestroy": true
                });
            }
        });

    }




</script>

<form>
    <div class="form-group">
        <label for="department_id">部門編號</label>
        <input class="form-control" id="department_id" placeholder="查詢部門編號" value="1">
    </div>
    <div class="form-group">
        <label for="product_name">分類名稱</label>
        <input class="form-control" id="product_type_name" placeholder="查詢分類名稱" value="">
    </div>
    <div class="form-group">
        <label for="customize_id">產品代碼</label>
        <input class="form-control" id="customize_id" placeholder="查詢產品代碼" value="">
    </div>
    <div class="form-group">
        <label for="product_name">產品名稱</label>
        <input class="form-control" id="product_name" placeholder="查詢產品名稱" value="">
    </div>
    <button type="button" class="btn btn-primary" onclick="doQuery()">送出</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">新增</button>
    <div>
        <span id="msg" style="color:red"></span>
    </div>
</form>
<p></p>

<table id="tb_product" style="visibility:hidden">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>分類</th>
            <th>代碼</th>
            <th>名稱</th>
            <th>單位</th>
        </tr>
    </thead>
</table>


<script>

    $(document).ready(function ($) {
        $('#imgModal').on('shown.bs.modal', function (e) {
            var $modal = $(this);
            var imgUrl = $(e.relatedTarget).data('img_url');

            $modal.find('#imgBig').attr("src", imgUrl);

        })
    })


    $(document).ready(function ($) {



        $('#editModal').on('shown.bs.modal', function (e) {
            var $modal = $(this);
            var id = e.relatedTarget.id;
            var product_customize_id = $(e.relatedTarget).data('product_customize_id');
            var product_name = $(e.relatedTarget).data('product_name');            
            var product_unit_name = $(e.relatedTarget).data('product_unit_name');


            $modal.find('#productCustomizeID').val(product_customize_id);
            $modal.find('#productName').val(product_name);
            $modal.find('#productUnitName').val(product_unit_name);


        })

        $('#deleteModal').on('shown.bs.modal', function (e) {
            var $modal = $(this);
            var id = e.relatedTarget.id;
            var product_customize_id = $(e.relatedTarget).data('product_customize_id');
            var product_name = $(e.relatedTarget).data('product_name');            
            var product_unit_name = $(e.relatedTarget).data('product_unit_name');


            $modal.find('#productCustomizeID').html(product_customize_id);
            $modal.find('#productName').html(product_name);            
            $modal.find('#productUnitName').html(product_unit_name);

        })

    })


</script>


@using (Html.BeginForm("EditCustomer", "Global_Customer"))
{
    @Html.AntiForgeryToken()


    <div class="container">


        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改資料</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                代碼
                            </dt>
                            <dd>
                                <input id="hid_product_customize_id" name="product_customize_id" type="hidden" />
                                @Html.TextBox("productCustomizeID", "", new { placeholder = "代碼" })
                            </dd>
                            <dt>
                                名稱
                            </dt>

                            <dd>
                                @Html.TextBox("productName", "", new { placeholder = "名稱" })
                            </dd>

                            <dt>
                                單位
                            </dt>

                            <dd>
                                @Html.TextBox("productUnitName", "", new { placeholder = "單位" })
                                @*<span id="product_unit_name"></span>*@

                            </dd>


                        </dl>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">儲存</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
}

<div class="modal fade" id="imgModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">圖片</h4>
            </div>
            <div class="modal-body">
                <img id="imgBig" width="100%" src="~/Image/fruit.jpg" />
            </div>


        </div>

    </div>

</div>

@using (Html.BeginForm("DeleteCustomer", "Global_Customer"))
{
    @Html.AntiForgeryToken()


    <div class="container">


        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">刪除購物車資料</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                代碼
                            </dt>
                            <dd>
                                <span id="productCustomizeID"></span>
                            </dd>
                            <dt>
                                名稱
                            </dt>
                            <dd>
                                <span id="productName"></span>
                            </dd>
                            <dt>
                                單位
                            </dt>
                            <dd>                                
                                <span id="productUnitName"></span>
                            </dd>

                        </dl>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">刪除</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
}
